<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <form method="POST" action="/new">
            <h2 class="title">Leave a message</h2>
            <label for="title">Name:
                <input type="text" id="messageUser" name="messageUser">
            </label>
            <br>
            <label for="messageText">Message:
                <textarea id="messageText" name="messageText" col="10" row="10"></textarea>
            </label>
            <br>
            <input type="submit" value="Submit"> 
        </form>

    </body>
</html>
