$body-color: green;
$bg-color: #EEEEEE;
$light: #EEEEEE;
$dark: #31363F;
$color-font-dark: #222831;
$miss: #41C9E2;

$spacing-1: .8rem;
$spacing-2: 1rem;
$spacing-3: 1.2rem;
$spacing-4: 1.5rem;
$spacing-5: 1.7rem;
$spacing-6: 2rem;
$spacing-7: 2.2rem;
$spacing-8: 2.5rem;
$spacing-9: 2.7rem;
