@use 'base.scss';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: base.$bg-color;
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;  
  background-size: cover;

  color: base.$light;
}
.text-centered{
  text-align: center;
}
h1{
  text-align: center;
  padding-bottom: base.$spacing-3;
}
h2{
  text-transform: capitalize;
  text-align: center;
  font-size: 2rem;
}

button{
  color: base.$light;
  cursor: pointer;
  background-color: transparent;
  padding: .6rem 1.2rem;
  border: 1px solid base.$light;
}
button:hover, button:focus{
  background-color: base.$light;
  color: base.$dark;
}
.bottom-spacing-1{
  padding-bottom: base.$spacing-1;
}
.bottom-spacing-2{
  padding-bottom: base.$spacing-2;
}
.bottom-spacing-3{
  padding-bottom: base.$spacing-3;
}
.start-btn{
  margin-top: base.$spacing-3;
  width: 150px;
  justify-self: center;
}

.display-flex-row{
  display: flex;
  gap: base.$spacing-1;
}

.playerBoard{
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: 1100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: base.$spacing-3;
}
.ver-hor-btn{
 position: absolute;
 width: 400px;
 height: 400px;
 border: 1px solid base.$light;

 z-index: 1;
 background-color: black;
 display: flex;
 gap: 5px;
 justify-content: center;
 align-items: center;
}

.square:hover{
  background-color: lightcoral;
}
.draggable{
  border: 1px solid white;
  padding: 6px 8px;
}
.dragging{
  background-color: green;
}
.invalid{
  background-color: lightcoral;
}
.valid{
 background-color: lightgreen;
}