
:root{
    --bg-color: rgb(244, 244, 149); 
    --dark: rgb(16, 16, 13);
    --light: #fff;
    --yellow: rgb(244, 244, 149);
}
    *{
    padding: 0;
    margin: 0;
}

body{
    color: var(--dark);
    background-color: var(--dark);
}
h1{
    font-size: 2.8rem;
    text-align: center;
}
p, label{
    font-size: 1.13rem;
    line-height: 1.5;
    font-weight: 300;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    border-bottom: 3px solid var(--light);
}
header .header-container{
    display: grid;
    max-width: 1100px;
    margin-inline: auto;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
}
header .right{
    padding-right: 5px;
    justify-self: end;
}
header .header-left{
    display: flex;
    align-items: center;
    padding-left: 5px;
    gap: 12px;
}

@media (max-width: 55em)
{
    header .header-left .logo-title{
        width: 110px;
        font-size: 2rem;
    }

}
header.dark-theme{
    border-bottom: 3px solid var(--light);
}
header.light-theme{
    border-bottom: 3px solid var(--dark);
}
button{
    cursor:pointer;
    font-size: .9rem;
    font-weight: 700;
}
button.light{
    background-color: white;
}
.darkWhiteToggleBtn{
    border: none;
    border-radius: 5px;
    padding: .5rem;
    outline: 1px solid var(--dark);
}
.darkWhiteToggleBtn:hover, .darkWhiteToggleBtn:active{
    outline: 3px solid var(--dark);
}
.dark-theme{
    background-color: var(--dark);
    color: var(--light)
}
.light-theme{
    background-color: var(--light);
    color: var(--dark);
}
.left{
    display: flex;
    gap: 12px;
}
.logo{
    width: 50px;
    height: 50px;
}
.game-content{
    width: 100%;
    max-width: 1100px;
    margin-inline: auto;
    outline: 1px solid rgba(231, 229, 223, 0.9);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.input-form{
    gap: 30px;
    background-color:var(--yellow);
    outline: 3px solid #F3B95F;
    border-radius: 20px;
    max-width: 1000px;
    width: 80%;
    margin-inline: auto;
    box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.7);

    padding: 5rem 20px;
    display: grid;
    grid-template-columns: 1fr;

    animation: menuAnimation 2s ease 0s 1 normal none;

}
@keyframes menuAnimation {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateY(-45px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateY(-24px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateY(-12px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateY(-6px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateY(-4px);
    }
  
    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
.name-input{
   display: block;
   width: 100%;
   max-width: 500px;
   background-color: #F3B95F;
   margin-inline: auto;
}

.name-input input[type="text"]{
    padding: 8px 6px;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(45, 45, 45);

    border: none;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--yellow);
    box-shadow: .1px .1px .2px 1px rgba(0,0,0,0.3);
}

.btn-levels-group{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding: 0 30px;
}
.btn-level-container{
    box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.3);
    border-radius: 30px;
}
.btn-level{
    font-size: 1.3rem;
    padding: 12px 6px;
    width: 100%;
    height: 400px;
    border-radius: inherit;
    background: linear-gradient(to top, #23CF51 39%, #A4A8CF 50%);
    border:none;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.btn-level:focus, .btn-level:hover{
    outline: 3px solid black;
}

@media (max-width: 760px)
{
    .btn-levels-group{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .btn-level{
        height: 100px;
    }
}
.highScore-container{
    display: grid;
    grid-template-columns: 150px 100px;
    padding-right: 8px;
    gap: .8rem;
}

.display-cards{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    padding: 12px;
}

.cards{
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    /* background-color: rgb(149, 149, 220); */


    border: none;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.cards:hover, .cards:focus{
    transform: scale(1.05);
    outline: var(--dark) 3px solid;
}
.pokemon-name{
    font-size: 1rem;
    line-height: 1.5;
    text-transform: capitalize;
}

.score-board{
    display: flex;
    justify-content: space-around;
    border: none;
    margin-inline: auto;
    gap: 30px;
    max-width: 500px;
    width: 100%;
}
.score-board p{
    font-size: 1.6rem;
    font-weight: 700;
}
.player-score{
    padding: 0 16px;
    border-radius: 25px;
    border: 3px solid red;
    background-color: inherit;
}

.message-board{
    display: block;
    padding: 30px 0;
    border: 3px solid rgba(0,0,0,0.7);
    max-width: 700px;
    width: 100%;
    margin-inline: auto;
    background-color: var(--light);
    border-radius: 12px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.7);
}
.message-board h2{
    color: var(--dark);
    text-align: center;
}

.history-container{
    /* background-color: blue; */
}
.history-list{
    width: 90%;
    margin-inline: auto;

}

.history-names{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons-group{
    margin-top: 1.8rem;
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.messageBoard-buttons{
    padding: 12px 16px;
    border-radius: 10px;
    border:none;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.7);
}

.messageBoard-buttons:hover, .messageBoard-buttons:active{
    color: black;
    background-color: rgba(0, 0, 255, 0.3);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 3px solid;
}
footer.dark-theme{
    border-color: var(--light);
}
footer.light-theme{
    border-color: var(--dark);
}
footer > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin-inline: auto;
    width: 100%;
    height: 50px;

}

footer > .container > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem 0;
}

footer > .container > ul > li{
    font-size: 1rem;
}

/* Toggle Button for Dark and White Background */

.hidden{
    display: hidden;
}

.custom-loader {
    width:100px;
    height:100px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#F41515);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 16px),#000 0);
    animation:s3 1s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}