@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    p, li{
        font-size: .9rem;
        line-height: 1.3;
    }
    .resume{
        width: 21cm;
        min-height: 29.7cm;
        margin: 1cm auto;
        margin-inline: auto;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .top{
        
    }

    .left, .right{
        display: block;
        padding-top: 3rem;
        padding-left: 1.2rem;
    }

    .circle{
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid;
    }
    input[type="color"]{
        cursor: pointer;
        padding: 0;
        box-sizing: border-box;
        height: 32px;
        width: 32px;
    }

    .custom-list{
        position: relative;
    }

    .custom-list::before{
        content: "\2022";
        font-size: 1.4rem;
        position: absolute;
        left: -18px;
        top: -4px;
    }

    .style-card{
        display: block;
        margin-inline: auto;
        height: 200px;
        max-width: 300px;
    }
}